@(title: String)

@import helper._

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Scala, Play, ToDo">
	<meta name="author" content="Nathan Murith">

	<title>@title</title>

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cover.css")">
	<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
	<link rel="icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	 	<![endif]-->
</head>
<body>

	  	<div id="slides" class="site-wrapper-slides">

	  		<div class="site-wrapper-inner">

	  			<div class="cover-container">

	  				<div class="masthead clearfix">
	  					<div class="inner">
	  						<h3 class="masthead-brand">Management Presentation</h3>
	  						<ul class="nav masthead-nav">
	  							<li class="active"><a href="/">Home</a></li>
	  							<li><a href="/slides">Create</a></li>
	  							<li><a href="http://www.linkedin.com/in/nathanmurith/" target="_blank">Contact</a></li>
	  						</ul>
	  					</div>
	  				</div>

	  				<div class="mastfoot">
	  					<div class="inner">
	  						<p>Nitro Presentation, by <a href="http://www.linkedin.com/in/nathanmurith/">Nathan Murith</a>.</p>
	  					</div>
	  				</div>

	  				<div class="inner cover">
	  					<div id="deck">

	  						<!-- Begin slides -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Hello, Hello</h1>
	  								<h2>Let's get started</h2>
	  							</hgroup>
	  							<p>Press the right arrow, down arrow, or spacebar to advance; press the left arrow or up arrow to move backward. Press the 'F' key to go full screen.</p>
	  						</section>

	  						<!-- Building & mentoring the team -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>Mentoring and coaching engineers</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">Lead by example</li>
	  								<li class="action">Pair programming</li>
	  								<li class="action">I work for my team, not the other way around</li>
	  								<li class="action">Set S.M.A.R.T. goals with regular checkins</li>
	  								<li class="action">Put the right people in the right spot</li>
	  								<li class="action">What do YOU want to do?</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>Boris' success story</h2>
	  							</hgroup>
	  							<img src="http://images.starpulse.com/Photos/pv/DJ%20Qualls-2.jpg"/>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>It takes two to Tango</h2>
	  							</hgroup>
	  							<img src="http://3.bp.blogspot.com/_pxzFk0x_x_Q/TKKFX7IxiaI/AAAAAAAADrA/o6huK373DzY/s1600/Facing+a+Layoff+When+You+Have+Bipolar+Disorder.jpg"/>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>Day to day interactions the team</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action"><code>if(possible) { colocation }</code></li>
	  								<li class="action">“standups” - what can I do for you</li>
	  								<li class="action">Weekly 1:1</li>
	  								<li class="action">Code Reviews</li>
	  								<li class="action">Pair Programming</li>
	  								<li class="action">Whiteboarding</li>
	  								<li class="action">Jumping on grenades</li>
	  								<li class="action">Office hours</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>Thoughts & practices on obtaining best performance</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">Set S.M.A.R.T. goals with regular checkins</li>
	  								<li class="action">20% Time</li>
	  								<li class="action">Defining ownership (Georgy)</li>
	  								<li class="action">Peer Coaches</li>
	  								<li class="action">Pair Programming</li>
	  								<li class="action">"What & How" reviews</li>
	  								<li class="action">Putting on the spot and backing (Boris)</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Building & Mentoring the Team</h1>
	  								<h2>Career path and on-going learning goes hand-in-hand with obtaining best performance</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">What do YOU want to do?</li>
	  								<li class="action">Training programs</li>
	  								<li class="action">Conferences</li>
	  								<li class="action">Lynda.com</li>
	  							</ul>
	  						</section>

	  						<!-- Hiring & managing existing team -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Hiring & Managing Existing Team</h1>
	  								<h2>Hiring approach and what makes for an interesting candidate</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action"><a href="http://www.whothebook.com" target="_blank">Who</a></li>
	  								<li class="action">Good people know good people</li>
	  								<li class="action">ABS - LinkedIn - Meetups</li>
	  							</ul>
	  						</section>

							<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Hiring & Managing Existing Team</h1>
	  								<h2>The Rick R. story</h2>
	  							</hgroup>
	  							<img src="@routes.Assets.at("images/rick.jpg")" alt="Milo the man!"/>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Hiring & Managing Existing Team</h1>
	  								<h2>Hiring process</h2>
	  							</hgroup>
	  							<p>Mostly based on <a href="http://www.whothebook.com">Who - The A Method for Hiring</a></p>
	  							<ul>
	  								<li class="action">Scorecard and S.M.A.R.T. Goals</li>
	  								<li class="action">Screening</li>
	  								<li class="action">Top Grading Interview</li>
	  								<li class="action">Reference Interview</li>
	  								<li class="action">Pairing session</li>
	  								<li class="action">Coffee/beer - cultural fit</li>
	  								<li class="action">Time for Evernote example?</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Hiring & Managing Existing Team</h1>
	  								<h2>Nitro first key hires</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">TBD - Build core IP in SF</li>
	  								<li class="action">SETs</li>
	  								<li class="action">Senior Technical Architect/Leader</li>
	  								<li class="action">Senior Designer/UI Developer</li>
	  							</ul>
	  						</section>


	  						<!-- Development Methodology & Tools -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Development Methodology & Tools</h1>
	  								<h2>To be Agile or not to be.</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">The only way to go...</li>
	  								<li class="action">Agile = Flexible != Chaotic</li>
	  								<li class="action">Horizontal to BIM 360 Glue to BIM 360 Tango</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Development Methodology & Tools</h1>
	  								<h2>Design and design patterns</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">TDD</li>
	  								<li class="action">SOA</li>
	  								<li class="action">Heavy Client vs. Lightwight Client</li>
	  								<li class="action">API Driven</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Development Methodology & Tools</h1>
	  								<h2>My toolbox</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">Jira</li>
	  								<li class="action">Slack</li>
	  								<li class="action">Trello</li>
	  								<li class="action">Wiki</li>
	  								<li class="action">Code Climate</li>
	  								<li class="action"><a href="http://agiletransformation.com/agilityhealth/" target="_blank">http://agiletransformation.com/agilityhealth/</a></li>
	  								<li class="action"><a href="http://www.planningpoker.com" target="_blank">http://www.planningpoker.com</a></li>
	  								<li class="action">Hangouts/GoTo/TeamViewer/etc.</li>
	  								<li class="action">Sentry</li>
	  								<li class="action">New Relic</li>
	  								<li class="action">Google Analytics</li>
	  								<li class="action">Heroku/AWS/Engine Yard</li>
	  								<li class="action">iPhone</li>
	  								<li class="action">Evernote</li>
	  							</ul>
	  						</section>


	  						<!-- Working with other teams -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Working with other teams</h1>
	  								<h2>Working with QE</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">Horizontal to BIM 360 Glue to BIM 360 Tango</li>
	  								<li class="action">A luxury I could never really afford</li>
	  								<li class="action">Anything a machine can do, it should!</li>
	  								<li class="action"><a href="http://youtu.be/mOyoTUETmSM"  target="_blank">Humans should not be waiting on machines, machines should be waiting on humans!</a></li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Working with other Teams</h1>
	  								<h2>Working with Product Management</h2>
	  							</hgroup>
								<img src="http://www.findingbetteragencies.com/wp-content/uploads/Modern-Three-Legged-Stool-01.jpg" />
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Working with other Teams</h1>
	  								<h2>Working with Dev Ops</h2>
	  							</hgroup>
	  							<img src="http://www.stackify.com/wp-content/uploads/2013/02/Dev-ops-tree-carve.jpg" />
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Working with other Teams</h1>
	  								<h2>Working with Dev Ops</h2>
	  							</hgroup>
	  							<img src="http://devops.com/wp-content/uploads/2014/01/devops-devolution.jpg" />
	  						</section>


	  						<!-- First 3 months -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">First 90 Days</h1>
	  								<h2>What goals will you set for the first three months</h2>
	  							</hgroup>
	  							<p>Press the right arrow, down arrow, or spacebar to advance; press the left arrow or up arrow to move backward.</p>
	  							<ul>
	  								<li class="action">this first 90 days</li>
	  								<li class="action">when possible, colocation</li>
	  								<li class="action">“standups” - what can i do for you</li>
	  								<li class="action">weekly 1:1</li>
	  								<li class="action">Rich, not saying no,</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">First 90 Days</h1>
	  								<h2>What help will make them successfull?</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">TDD</li>
	  								<li class="action">SOA</li>
	  								<li class="action">xxxxxx</li>
	  								<li class="action">xxxxxx</li>
	  								<li class="action">xxxxxx</li>
	  							</ul>
	  						</section>

	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">First 90 Days</h1>
	  								<h2>You should demonstrate your understanding of Nitro's Cloud offering and what things you would set as goals for you and your team</h2>
	  							</hgroup>
	  							<ul>
	  								<li class="action">evernote</li>
	  								<li class="action">jira</li>
	  								<li class="action">slack</li>
	  								<li class="action">trello</li>
	  								<li class="action">xxxxxx</li>
	  							</ul>
	  						</section>

	  						<!-- Key Challenges -->
	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">Key challenges</h1>
	  								<h2>considering what you have learned so far what will be your key challenges</h2>
	  							</hgroup>
	  							<p>Press the right arrow, down arrow, or spacebar to advance; press the left arrow or up arrow to move backward.</p>
	  							<ul>
	  								<li class="action">evernote</li>
	  								<li class="action">jira</li>
	  								<li class="action">slack</li>
	  								<li class="action">trello</li>
	  								<li class="action">xxxxxx</li>
	  							</ul>
	  						</section>


	  						<section class="slide-section">
	  							<hgroup>
	  								<h1 class="slide-header1">That's all!</h1>
	  							</hgroup>

	  							<img src="@routes.Assets.at("images/milo_tough.png")" alt="Milo the man!" />
	  						</section>
	  						<!-- /End slides -->
	  					</div>
	  					<!-- /deck -->

	  				</div>
	  			</div>
	  		</div>

	  	</div>

	  	<!-- Placed at the end of the document so the pages load faster -->
	  	<script src="@routes.Assets.at("javascripts/fullscreen.js")" type="text/javascript"></script>
	  	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
	  	<script src="@routes.Assets.at("javascripts/jquery.jswipe-0.1.2.js")" type="text/javascript"></script>
	  	<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  	<script src="@routes.Assets.at("javascripts/htmlSlides.js")" type="text/javascript"></script>
	  	<script>
		    //Do our business when the DOM is ready for us
		    $(function() {

		      //You can trigger Javascript based on the slide number like this:
		      $('html').bind('newSlide', function(e, id) {
		      	switch(id) {
		      		case 2:
		      		console.log('This is the second slide.');;
		      		break;
		      		case 3:
		      		console.log('Hello, third slide.');
		      		break;
		      	}
		      });

		      htmlSlides.init({});

		  });
		    </script>
</body>
</html>